footer {
    --text-FooterColor: rgb(51, 49, 49);
    background-color: #CBCACA;
    color: var(--text-FooterColor);
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.15ch;

    .link {
        color: white;
    }

    .link::after {
        background: white;
    }
}

.growIcon {
    transition: all .2s ease-in-out;
}

.growIcon:hover {
    transform: scale(1.2);
}

.footerItems {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    justify-content: space-around;

    >* {
        flex: 1;
    }

    > :last-child>img {
        display: block;
        margin-left: auto;
    }

    .thanks {
        font-family: "Antonio", sans-serif;
        font-size: 45px;
        text-transform: uppercase;
        text-align: center;
    }
}


.footerItems {
    p {
        font-size: 30px;
        padding-bottom: 20px;
    }
}

.LogoContainer {
    margin: 0.625rem 1rem 1rem;
    position: relative;

    >img {
        width: 250px;
        height: auto;
        filter: invert(100%);
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .title {
        position: absolute;
        font-size: 1.2rem;
        font-weight: 500;
        color: black;
        text-transform: uppercase;
        letter-spacing: 0.22ch;
        font-family: 'Roboto', sans-serif;
        margin-top: -50px;
        text-align: center;
        left: 50%;
        bottom: 1.8rem;
        transform: translate(-50%, 0);
    }
}

.Registerbtn {
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(190, 3, 3);
    color: white;
    font-size: large;
    margin-top: 10px;
    border: none;
}

.MainFooterContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-around;

    .footerContent {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .QuotesContainer {
        font-family: 'Staatliches', cursive;
        width: 300px;
        white-space: wrap;

        .quotes {
            font-size: 1.8rem;
        }
    }

    .sponsor-wrapper {
        .sponsor {
            width: fit-content;
            margin-left: auto;
        }

        .sponsors {
            margin-bottom: 2rem;
            height: 2rem;
            width: auto;
        }
    }
}

@media screen and (max-width:630px) {
    .footerContent {
        justify-content: center;
        flex-direction: column;
        gap: 1rem
    }

    .footerItems {
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }
}

.SocialHandles {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    .handle-wrapper {
        margin-right: 1rem;

        .handle {
            border: 1px solid black;
            border-radius: 50%;
            display: block;
            position: relative;
            width: 3.2rem;
            height: 3.2rem;

            a {
                border-radius: 50%;
                border: 1px solid --text-FooterColor;
            }

            >svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
                height: 40%;
                fill: var(--text-FooterColor);
            }
        }
    }

    .handle-wrapper:last-child {
        margin-right: 0;
    }
}


.copyright {
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 49, 49);
    font-size: 0.95rem;
    padding: 0.8rem 0;
    text-align: center;
    letter-spacing: 0ch;

    p {
        margin-bottom: 0.8rem;
    }
    p:last-child {
        margin: 0;
    }

    .ln {
        font-size: inherit;
        text-transform: none;
    }
}