.form-page {
    .form-box {
        .login-form {
            padding: 2.5rem 0;
            max-width: 1000px;

            .form-fields {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: flex-end;

                .form-field {
                    flex: 1;
                }
            }

            .form-field {
                position: relative;
                margin: 0.8rem 0 0.8rem;

                label {
                    font-size: 0.8rem;
                    color: #333;
                }

                input,
                select,
                textarea {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    line-height: 1.2;
                    position: relative;
                    background-color: transparent;
                    padding: 0.8rem 0;
                    border: none;
                    border-bottom: solid 1px #01020433;
                    outline: none;
                    width: 100%;
                }

                input::before {
                    content: attr(placeholder);
                    position: absolute;
                    top: 50%;
                    transform: translate3d(0, -50%, 0);
                    font: inherit;
                    transition: all 0.1s;
                }

                label::before {
                    content: attr(data-name);
                    position: absolute;
                    top: 50%;
                    transform: translate3d(0, -50%, 0);
                    font: inherit;
                    font-size: 1rem;
                    transition: all 0.1s;
                }

                label.filled::before,
                label:focus-within::before {
                    color: var(--primary);
                    font-size: 0.75rem;
                    transform: translate3d(0, -210%, 0);
                }

                option {
                    font: inherit;
                    line-height: 1.5;
                }

                textarea {
                    border: solid 1px #01020433;
                    resize: vertical;
                    padding: 0.8rem;
                    min-height: 6rem;
                }

                input:focus,
                select:focus {
                    border-bottom: solid 1px #153964;
                }

                textarea:focus {
                    border: solid 1px #153964;
                }

                .radio-group {
                    display: flex;
                    flex-direction: row;
                    gap: 0.8rem 1.6rem;
                    margin: 1rem 0 1rem;
                    padding-bottom: 1rem;
                    align-items: center;
                    flex-wrap: wrap;

                    .radio-option {
                        display: flex;
                        flex-direction: row;

                        input.radio {
                            width: 1.2rem;
                            height: 1.2rem;
                        }

                        label.radio-label {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1rem;
                            line-height: 1.2;
                            margin-left: 0.5rem;
                        }
                    }
                }

                .event-slots {
                    list-style-type: none;
                    width: 100%;

                    .slot {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        padding: 0.8rem 0;
                        border-bottom: 1px solid #cacaca;

                        .slot-label {
                            white-space: nowrap;
                            margin-right: 2rem;
                            font-size: 0.8rem;
                            text-transform: uppercase;
                            font-weight: 500;
                            letter-spacing: 0.15ch;
                        }

                        .radio-group {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                .checkbox-input-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: 1.6rem 0 3.2rem;

                    .checkbox {
                        width: 1.2rem;
                        height: 1.2rem;
                    }

                    label.checkbox-label {
                        margin-left: 1rem;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1rem;
                        line-height: 1.2;
                        margin-left: 0.5rem;
                    }

                }
            }

            .slots-wrapper {
                flex-direction: column;
                align-items: flex-start;

                .form-field {
                    width: 100%;
                }
                .form-link {
                    margin-left: auto;
                }
            }

            .form-link {
                margin: 0 0 0.8rem;

                .form-btn {
                    .btn-text {
                        font-size: 1rem;
                    }

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }

                }
            }

            .btns-wrapper {
                display: flex;
                flex-direction: row;
                height: 6rem;
                gap: 1rem;
                margin-bottom: 1rem;
            }

            .btn-wrapper {
                height: 4rem;
            }
        }
    }
}

.form-section-btn-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.form-section {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-out height;
}

.form-section.active {
    height: 30rem;
}