@font-face {
    font-family: Kathycox;
    src: url(../fonts/KathyCox.ttf);
}

@font-face {
    font-family: Neuemetana;
    src: url(../fonts/NeueMetana-Regular.otf)
}

.FormComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 40px;
}

.formHeading {
    font-family: "Antonio", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    // font-family: Kathycox,sans-serif;
}


@media screen and (max-width:670px) {
    .formHeading {
        padding-top: 50px;
    }
}

.sectionHeading {
    font-family: Kathycox, sans-serif;

    font-size: 16px;
}

.formColumn {
    max-width: 462px;
    width: 100%;
}

.halfInput {
    display: block;
    width: 100%;
    height: 27px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.FullInput {
    height: 27px;
    width: 100%;
    min-width: 450px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #2b2b2b;
    cursor: pointer;
}

.FormLabel,
input,
option {
    font-family: Neuemetana, sans-serif;
    font-size: 10px;
}

.DoubleInputBox {
    display: flex;
    flex-direction: row;
    gap: 30px;

    >div {
        flex-grow: 1;
    }
}

@media screen and (max-width:550px) {
    .DoubleInputBox {
        flex-direction: column;
        gap: 0;
    }
}

.option-group {
    width: 60%;
    max-width: 250px;
    height: 69px;
    position: relative;
    overflow: hidden;
    border-radius: 0.25em;
    font-size: 4rem;
    margin: 0.2em auto;
    transform: translateZ(0);
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 120%;
    height: 100%;
    margin: 0 -10%;
}

.option {
    overflow: hidden;
    flex: 1;
    display: block;
    padding: 0.2em;
    padding-bottom: 0.2em;
    background: #FFF;
    position: relative;
    margin: 0em;
    margin-right: 0.2em;

    &:last-child {
        margin-right: 0;
    }

    border-radius: 0.25em;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    cursor: pointer;

    opacity: 0.5;
    transition-duration: 0.8s,
    0.6s;
    transition-property: transform,
    opacity;
    transition-timing-function: cubic-bezier(.98, 0, .22, .98),
    linear;
    will-change: transform,
    opacity;
}

.option__indicator {
    display: block;
    transform-origin: left bottom;
    transition: inherit;
    will-change: transform;
    position: absolute;
    top: 0.2em;
    right: 0.3em;
    left: 0.5em;

    &:before,
    &:after {
        content: '';
        display: block;
        border: solid 2px #eba510;
        border-radius: 50%;
        width: 0.2em;
        height: 0.2em;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:after {
        background: #ec2727;
        transform: scale(0);
        transition: inherit;
        will-change: transform;
    }
}

.option-input {
    position: absolute;
    top: 0;
    z-index: -1;
    visibility: hidden;
}

.option__label {
    font-family: "Antonio", sans-serif;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    transform-origin: left bottom;
    transform: translateX(20%) scale(0.7);
    transition: inherit;
    will-change: transform;

    sub {
        margin-left: 0.25em;
        font-family: Neuemetana, sans-serif;
        font-size: 0.4em;
        display: inline-block;
        vertical-align: 0.5em;
    }

    &:after {
        content: '';
        display: block;
        border: solid 2px #ec2727;
        width: 100%;
        transform-origin: 0 0;
        transform: scaleX(0.2);
        transition: inherit;
        will-change: transform;
    }
}

.option:last-child {
    .option__label {
        transform: translateX(0%) scale(0.7);
    }

    .option__indicator {
        transform: translateX(-20%);
    }
}

.option-input:checked~.option {
    transform: translateX(-20%) translateX(0.2em);

    .option__indicator {
        transform: translateX(0%);
    }

    .option__label {
        transform: translateX(40%) scale(0.7);
    }
}

.option-input:first-child:checked~.option {
    transform: translateX(20%) translateX(-0.2em);

    .option__indicator {
        transform: translateX(-40%);
    }

    .option__label {
        transform: translateX(0%) scale(0.7);
    }
}

.option-input:nth-child(1):checked~.option:nth-of-type(1),
.option-input:nth-child(2):checked~.option:nth-of-type(2) {
    opacity: 1;

    .option__indicator {
        transform: translateX(0);

        &::after {
            transform: scale(1);
        }
    }

    .option__label,
    .option__label::after {
        transform: scale(1);
    }
}

.submitButton {
    position: relative;
    padding: 4px;
    width: 100px;
    font-family: Kathycox, sans-serif;
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    letter-spacing: 0.025rem;
    font-size: 0.75rem;
    background-color: #ff414b;
    background-color: #000;
    color: white;
    overflow: hidden;
    border: 0;
    margin-bottom: 30px;
    cursor: pointer;
    z-index: 2;
    padding: 0.625rem;
    border-radius: 0.5rem;
}

.submitButton::before {
    content: '';
    background-color: #ff414b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 101%, 0);
    transition: transform 0.2s;
    z-index: -1;
}

.submitButton:hover::before {
    transform: translate3d((0, 0, 0));
}

.signInBtn {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid gray;
    background: #FFFF;
    border-radius: 8px;
}

#output {
    padding: 20px;
    background: #dadada;
}

select {
    font-family: Neuemetana, sans-serif;
}

.login-msg {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    font-size: 0.875rem;
    margin: 1rem auto 2rem;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 1px 3px -2px #000000e6;

    .icon {
        display: flex;
        color: inherit;
        margin-right: 0.8rem;

        svg {
            width: 1.375rem;
            height: 1.375rem;
            fill: currentColor;
        }
    }
}

.login-msg.success {
    color: #2e7d32;
    background-color: rgb(237, 247, 237);
}

.login-msg.error {
    color: #d32f2f;
    background-color: rgb(253, 237, 237);
}