.hero {
    height: 90vh;
    position: relative;
    overflow: hidden;

    .content {
        position: absolute;
        height: 100%;
        width: 100%;

        .logo {
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 3rem;
            color: #333;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            >span {
                margin-right: 1rem;
            }
            >span:last-child {
                margin-right: 0;
            }
        }

        .timeline {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 2rem 1rem;
            bottom: 0;
            width: 100%;
            margin: auto;
            font-family: "Antonio";
            font-size: 1.4rem;
            color: #ddd;
            text-shadow: 0 1px 0 #3335;
            font-weight: 300;
            align-items: center;

            .dates {
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }
    }
}

.intro-section {
    padding-top: var(--nav-height);
}

// font-family: 'Antonio', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Staatliches', cursive;
// font-family: 'Yeseva One', cursive;

.grain {
    background: transparent url(../media/grain-new.gif) repeat;
    opacity: .075;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}