:root {
    --nav-height: 4.1425rem;
    
    // colors
    --white1: #eee;
    --white2: #d8d8d8;
    --primary: #974B60;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Open Sans', sans-serif;
}

::selection {
    color: #000;
    background-color: #c7c6c6cc;
}

.container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 700px) {
        padding-left: 0.8rem;
        padding-right: 0.8rem;        
    }
}

.__layout {
    position: relative;
}

.page {
    position: relative;
    background-color: var(--white1);
    min-height: 100vh;
}

header.page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: calc(var(--nav-height) + 2rem);
    padding-bottom: 1rem;
    height: 100vh;
    --heading-font-size: 16vw;

    .heading {
        font-family: "Antonio", sans-serif;
        display: flex;
        flex-direction: column;
        font-size: var(--heading-font-size);
        font-weight: 200;
        letter-spacing: -0.15ch;
        line-height: 0.9;
        text-transform: uppercase;
        width: 100%;
        max-width: fit-content;
        margin: 2rem 0;
    }

    .subtitle {
        position: absolute;
        top: calc(var(--nav-height) + 2rem);
        right: 1.2rem;
    }

    @media screen and (max-width: 999px) {
        --heading-font-size: 20vw;
    }
    @media screen and (max-width: 760px) {
        --heading-font-size: 24vw;
    }
    @media screen and (max-width: 700px) {
        height: 60vh;
    }
}  

.link {
    color: black;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-family: 'Open Sans';
}

.link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    background-color: currentColor;
    transition: .4s;
    transform-origin: left;
    background: #000;
}

.link:hover::after {
    transform: scaleX(0);
}

.link.active {
    color: #f00;
}

.link.active::after {
    background: #f00;
}

.btn {
    --bg-color: var(--primary);
    --border-color: var(--primary);
    --txt-color: #fff;
    --hover-bg: #000;
    --hover-txt-color: #fff;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .625rem;
    border-radius: .5rem;
    border: solid 1px var(--border-color);
    font-weight: 700;
    text-align: left;
    transition: border-radius .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    overflow: hidden;
    transition: color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 100%;

    text-decoration: none;
    line-height: 0.95;
    font-family: 'Open Sans', sans-serif;

    background-color: var(--bg-color);
    color: var(--txt-color);

    .btn-text, .btn-subtitle {
        z-index: 2;
    }


    .btn-text {
        font-weight: 600;
        font-size: 1.5rem;
        padding-right: 2rem;
    }

    .btn-subtitle {
        font-weight: 500;
        font-size: 0.75rem;
    }
    
    > svg {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        bottom: .625rem;
        right: .625rem;
        z-index: 2;
        fill: var(--txt-color);
    }
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hover-bg);
    transform: translate3d(0, 101%, 0);
    transform-origin: top left;
    transition: transform .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 0;
}
.btn:hover {
    --txt-color: var(--hover-txt-color)!important;
}
.btn:hover::before {
    transform: translate3d(0, 0, 0);
}
.btn.secondary {
    --bg-color: transparent;
    --border-color: black;
    --txt-color: #000;
    --hover-bg: #000;
    --hover-txt: #fff;
    --hover-txt-color: #fff;
}

footer {
    background-color: rgb(39, 39, 39);
    color: #FFFF;
    padding: 30px;
    height: 100%;

    .link {
        color: white;
    }

    .link::after {
        background: white;
    }
}

.quotes {
    color: #00FFFF;
    font-weight: bold;
}

.footerContent {
    display: flex;
    justify-content: space-around;
}

.footerItems {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;
    gap: 30px;

}

.LogoContainer {
    >img {
        width: 400px;
        filter: invert(100%);
        max-width: 100%;
    }
}

.Registerbtn {
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(190, 3, 3);
    color: white;
    font-size: large;
    margin-top: 10px;
    border: none;
}

.SocialHandles {
    display: flex;
    padding: 20px;
    gap: 30px;
}

.MainFooterContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

@media screen and (max-width:900px) {
    .footerContent {
        flex-direction: column;
    }
}

// @media screen  and (max-width:900px) {
//     .footerItems
//     {
//         flex-direction: column;
//     }
// }