:root {
    --white2: #d8d8d8;
    --nav-height: 4.1425rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 1.8rem;
    padding-right: 1.8rem; 
    margin: auto;
}

.__layout {
    position: relative;
}

.page {
    position: relative;
}

.link {
    color: black;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-family: 'Open Sans';
}
.link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    background-color: currentColor;
    transition: .4s;
    transform-origin: left;
    background: #000;
}
.link:hover::after {
    transform: scaleX(0);
}
.link.active {
    color: #f00;
}
.link.active::after {
    background: #f00;
}