.timer {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
    text-transform: uppercase;

    .counter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-width: 3.6rem;
        color: #ccc;
        margin: 1px;
    }

    .counter, .label {
        background-color: rgba(51, 51, 51, 0.6);
        text-align: center;
    }

    .counter {
        font-size: 2.2rem;
        font-family: 'Antonio', sans-serif;
        font-family: 'Roboto Mono', monospace;
        font-weight: 700;
        letter-spacing: -0.175rem;
        margin-bottom: 1px;
    }
    .label {
        font-size: 0.85rem;
        font-family: 'Staatliches', cursive;
    }
}