.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background-image: url('../media/hero-image.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: 50% 100%;

    .hero-bg {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        min-height: 100%;
        min-width: 100%;
    }

    .content {
        position: absolute;
        height: 100%;
        width: 100%;

        .logo {
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-family: 'Antonio', sans-serif;
            font-weight: 400;
            font-size: 8rem;
            color: #333;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;

            >span {
                will-change: transform;
            }

            >span:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: 699px) {
                font-size: 6rem;
            }
        }

        .timeline {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 4.5rem 1rem;
            bottom: 0;
            width: 100%;
            margin: auto;
            font-family: "Antonio";
            font-size: 1.8rem;
            color: #ddd;
            text-shadow: 0 1px 0 #3335;
            font-weight: 600;
            align-items: center;
        }
    }

    .scrollDown {
        will-change: transform;
        display: block;
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        svg {
            width: 16px;
            height: 34px;
            fill: #fff;
            animation: 2s ease-in-out scrollDownAnimate infinite;
        }
    }

    @keyframes scrollDownAnimate {
        60% {
            transform: translateY(-8px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @media screen and (max-width: 576px) {
        .scrollDown {
            display: none;
        }
    }
}

.grain {
    background: transparent url(../media/grain-new.gif) repeat;
    opacity: .06;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}