.nav {
    --nav-color: #fff;
    display: flex;
    align-items: center;
    height: var(--nav-height);
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0 1.2rem;
    top: 0;
    z-index: 9999999;
    color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;

    a {
        pointer-events: auto;
        color: var(--nav-color);
    }

    .logo {
        flex-grow: 1;
        a {
            font-family: 'Roboto', sans-serif;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 0.3ch;
            text-decoration: none;
        }
    }

    .router-links {
        .router-link {
            margin-left: 2rem;
            font-size: 0.75rem;
            font-weight: 450;
        }
        .router-link::after {
            background: var(--nav-color);
        }
        .router-link:active::after {
            transform: scaleX(100%);
        }
        .router-link.active::after {
            top: 50%;
        }
        .router-link.active:hover::after {
            transform: scaleX(100%);
        }
    }
}